<section class="new-post-section">
    <div class="new-post-container bg-white rounded-md shadow-md p-4 border-2">
        <h1 class="text-2xl font-semibold mb-4">Add a new comment</h1>
        <%= form_with model: @comment, url: user_post_comments_path do |c| %>
            <div class="form-group mb-4">
                <%= c.label :text, class: "block text-lg font-semibold px-3 py-1"%>
                <%= c.text_area :text, class: "border border-gray-300 rounded-md w-full px-3 py-2"%>
            </div>

            <div class="flex justify-start">
                <%= c.submit "Submit", class: "bg-black text-white hover:text-white hover:font-semibold border-2 px-4 py-2 rounded-md"%>
            </div>
        <% end %>
    </div>
</section>
