<% if user.photo.present? %>
  <div>
    <%= image_tag user.photo, alt: user.name, class: 'custom-user-image' %>
  </div>
<% else %>
  <div class="custom-user-photo placeholder">
    No photo
  </div>
<% end %>