<ul>
  <% @users.each do |user| %>
    <li>
      <a href="<%= user_posts_path(user) %>">
        <div class="custom-user-box">
          <%= render partial: 'user_helper/user_photo', locals: { user: user } %>
          <%= render partial: 'user_helper/user_details', locals: { user: user } %>
        </div>
      </a>
    </li>
  <% end %>
</ul>