<h1 class="user-title text-center font-bold text-5xl my-10 text-indigo-700">Explore Our Community</h1>

<div class="user-container bg-gray-100 p-8 rounded-lg shadow-md">
    <ul class="grid grid-cols-1 gap-8">
        <%= render partial: 'user', collection: @users %>
    </ul>
</div>
